.container {
  height: 100vh;
  width: fit-content;
  background-color: var(--default-BackgroundColor);
  position: relative;
}

.header {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0.8rem 0.5rem 0 0.5rem;
  box-sizing: border-box;
}

.title {
  border-left: 1px solid black;
  margin-left: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem;
  text-align: end;
}
