/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
}
:root {
  --default-BackgroundColor: #e8ecef;
  --default-BorderRadius: 15px;
  --default-ButtonHoverBackgroundColor: #62b6cb;
}
.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}
